@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  *,
  *::before,
  *::after {
    @apply box-border m-0 p-0;
  }

  html,
  body {
    @apply bg-white w-screen overflow-x-hidden;
  }
   h1 {
    @apply text-txt text-3xl md:text-3xl lg:text-4xl font-bold;
  }

  h2 {
    @apply text-txt text-2xl md:text-2xl lg:text-3xl font-extrabold;
  }

  h3 {
    @apply text-txt text-xl md:text-2xl lg:text-3xl font-extrabold;
  }

  p {
    @apply text-base text-[#515151];
  }
 img {
    @apply w-full object-cover object-center;
  }

  button {
    @apply whitespace-nowrap cursor-pointer
  }

  .landingpage-container {
    @apply w-full md:max-w-[900px] lg:max-w-[1120px] xl:max-w-[1200px] 2xl:max-w-[1500px] mx-auto;
  }

  .aboutpage-container {
    @apply w-full md:max-w-[900px] lg:max-w-[1120px] xl:max-w-[1200px] 2xl:max-w-[1500px] mx-auto;
  }

  .container {
    @apply w-full md:max-w-[900px] lg:max-w-[1120px] xl:max-w-[1200px] 2xl:max-w-[1500px] mx-auto;
  }

  .btn-primary {
    @apply py-4 px-8 rounded-md bg-primary shadow-lg shadow-[#521282]/30 font-semibold text-sm text-white cursor-pointer
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cl-internal-rx251b{
  box-shadow: none;
  width: '100%';
}